* {
    font-family: "Manrope";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 24px;
    letter-spacing: -0.6px;
}
h2 {
    font-size: 18px;
    letter-spacing: -0.6px;
    color: #000000;
    font-weight: 600;
}
p {
    font-size: 18px;
    color: #979797;
    max-width: 65%;
    padding-top: 16px;
}
.header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 16px 52px;
    margin-top: 12px;
}
.header h1 {
    font-size: 20px;
    font-weight: 1000;
    letter-spacing: -0.6px;
    flex: 1;
}
.navbar {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.navbar ul {
    display: flex;
    list-style: none;
    gap: 72px;
    justify-content: center;
    flex-grow: 0.4;
}
.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    letter-spacing: -0.6px;
}
.btn_member_area a {
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 50px;
    font-weight: 600;
    background-color: cadetblue;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.5s, opacity 0.5s;
}
.btn_member_area a:hover {
    color: cadetblue;
    background-color: white;
}
.menu-label {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.menu-toggle {
    display: none;
}
@media (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        margin-top: -4px;
    }

    .menu-label {
        display: block;
    }
    #home, #benefit, #courses {
        font-weight: 450;
    }
    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 48px;
        left: 0;
        width: 100%;
        background: white;
        padding: 20px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .navbar ul {
        flex-direction: column;
        gap: 28px;
        text-align: center;
    }

    .btn_member_area {
        margin-top: 40px;
        margin-bottom: 24px;
    }
    .menu-toggle:checked ~ .navbar {
        display: flex;
    }
}
a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.section1 .btn {
    background-color: white;
    color: black;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 50px;
    align-items: center;
    border: 2px solid #E5E7EB;
    text-align: center;
    font-weight: 400;
    transition: background-color 0.5s, opacity 0.5s;
}
.section1 .btn:hover {
    color: white;
    background-color: black;
}
.section1 .btn2 {
    background-color: cadetblue;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.5s, opacity 0.5s;
    font-weight: 400;
    margin-left: 8px;
}
.section1 .btn2:hover{
    color: cadetblue;
    background-color: white;
}
.section1 {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    height: 332px; 
    padding: 0 10%;
}
.section1 .button {
    margin-top: 32px;
    gap: 12px;
}
@media (max-width: 768px) {
    .button {
        flex-direction: row; 
        justify-content: left;
    }
    .section1 {
        flex-wrap: wrap-reverse;
        align-content: center;
        padding: 0 20px;
        height: auto;
        margin-top: 76px;
    }
    .section1 .gambar1 {
        display: flex;
        margin: 0 0 32px 0;
        width: 100%;
        justify-content: center;
    }
    .section1 .gambar1 img {
        width: 85%; 
        max-width: 100%; 
        height: auto;
    } 
    .section1 p {
        max-width: 400px;
        text-align: left;
        font-size: 16px;
    }
    .section1 h1 {
        text-align: left;
        width: auto;
    }
}
.section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 332px;
    padding: 0 10%;
    margin-top: 32px;
}
.section2 .text {
    width: 1200px;
    padding-left: 100px;

}
@media (max-width: 768px) {
    .section2 {
        flex-direction: column;  
        padding: 0 20px;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 86px;
    }

    .section2 .text {
        margin-right: 0; 
        margin-bottom: 20px; 
        text-align: left; 
        width: auto; 
        padding-left: 0;
    }

    .section2 .gambar2 {
        margin-bottom: 20px; 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }
    .section2 .gambar2 img {
        width: 85%; 
        max-width: 100%; 
        height: auto; 
    }

    .section2 p {
        font-size: 16px; 
        max-width: 100%; 
        text-align: left;
    }

    .section2 h1 {
        text-align: left;
        width: auto;
    }
}
.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    height: auto;  
    padding: 0 10%;
    margin-top: 48px;
    flex-wrap: wrap;
}
.card_container {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;  
}
.headline {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    text-align: center;
    margin-bottom: 40px;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px;
    border: 2px solid #E5E7EB;
    background-color: #ffffff;
    border-radius: 16px;
    width: 100%;  
    max-width: 200px; 
    min-width: 400px; 
    margin-top: 0px;
}
.card_text {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding-left: 52px;
}
.section3 p {
    max-width: 100%;
    padding-bottom: 8px;
}
@media (max-width: 768px) { 
    .section3 {
        padding: 0 10%;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        max-width: 100%;
        margin-top: 66px;
        margin-bottom: 40px;
    }
    .section3 h2 {
        text-align: left;
        margin-bottom: -4px;
    }
    .section3 p {
        text-align: left;
        font-size: 16px;
        max-width: 400px;
        min-height: 50px;
    }
    .card_container {
        flex-direction: column;
        gap: 16px;
        
    }
    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        margin-bottom: 16px;
        max-width: none;
        min-width: auto;
        display: flex;
        flex-direction: row;
        margin-top: -12px;
    }
    .card img {
        width: 50px;
        height: 50px;
        margin-right: 32px;
        margin-bottom: 16px;
    }
    .card_text {
        min-width: auto;
        padding-left: 0;
    }
}
@media (max-width: 480px) {
    .section3 {
        padding: 20px 5%;
    }
}
.section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    height: auto;  
    padding: 0 10%;
    margin-top: 102px;
    flex-wrap: wrap;
}
.section4 .lembaga {
    margin-top: 40px;
    flex-direction: row;
    display: flex;
    gap: 72px;
    justify-content: center;
}
.section4 h1 {
    text-align: center;
    justify-content: center;
    max-width: none;
    min-width: auto;
}
.section4 .akreditasi {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    max-width: none;
    min-width: auto;
    justify-content: center;
    align-items: center;
}
@media (max-width: 728px) {
    .section4 {
        padding: 0 5%;
        justify-content: center;
        align-items: center;
        margin-top: 56px;
        margin-bottom: 20px;
    }

    .section4 .lembaga {
        margin-top: 20px;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    .section4 .akreditasi {
        flex-direction: column;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        flex-grow: 0;
    }

    .section4 h1 {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .section4 img {
        max-width: 80%;
        height: auto;
        margin-bottom: 10px;
    }

    .section4 .lembaga img {
        max-width: 20%;
    }

    .section4 .akreditasi img {
        max-width: 60;  
        height: auto;
    }
}
.section5 {
    text-align: center;
    margin-top: 102px;
    padding: 86px 10%;
    background-color: #F8FAFC;
}
.headline h1 {
    font-size: 24px;
    margin-bottom: 2px;
    color: #333;
}
.card_container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
}
.card_text2 {
    width: calc(25% - 20px);
    min-width: 280px;
    border: 2px solid #E5E7EB;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    text-align: left;
}
.card_text2 img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin-bottom: 15px;
}
.card_text2 h2, .card_text2 p {
    text-align: left;
}
.card_text2 h2 {
    font-size: 18px;
    color: #222;
    margin-bottom: 40px;
    font-weight: 700;
}
.card_text2 p {
    font-size: 14px;
    color: #979797;
    margin-bottom: 2px;
    margin-top: -16px;
}
.daftar {
    margin-top: 10px;
}
.btn_daftar {
    display: block;
    width: 100%;
    padding: 12px 20px;
    background-color: cadetblue;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    text-align: center;
}
.btn_daftar:hover {
    background-color: #ffffff;
    color: cadetblue;
}
@media (max-width: 768px) {
    .card2 {
        grid-template-columns: 1fr;
        margin-top: -12px;
        gap: 24px;
    }
    
    .section5 {
        padding: 30px 10%;
    }
}
@media (max-width: 480px) {
    .headline h1 {
        font-size: 24px;
        text-align: center;
    }
    .section5 {
        padding: 66px 5%;
        background-color: #F8FAFC;
    }
}
.section6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10%;
    background-color: #ffffff;
    margin-top: 48px;
    margin-bottom: 48px;
}
.section6 .container {
    width: 100%;
    max-width: 800px;
    text-align: center;
}
.section6 h1 {
    font-size: 24px;
    margin-bottom: 24px;
    letter-spacing: -0.6;
}
.faq-item {
    border: 2px solid #E5E7EB;
    border-radius: 8px;
    padding: 16px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px; 
    text-align: left;
    width: 100%;
    background-color: #ffffff;
}

summary {
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
summary::after {
    content: "+";
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 0;
}
details[open] summary::after {
    content: "-";
}
@media (max-width: 768px) {
    .section6 {
        padding: 20px 5%;
        margin-top: 32px;
        margin-bottom: 28px;
    }
    .section6 h1 {
        font-size: 20px;
        margin-bottom: 32px;
        letter-spacing: -0.6;
    }
    .faq-item {
        padding: 12px;
    }
    summary {
        font-size: 16px;
    }
    .faq-answer {
        font-size: 14px;
    }
}
.footer {
    background-color: #F8FAFC;
    padding: 40px 10%;
}

.footer .personal_info a {
    color: #979797;
    font-weight: 400;
    gap: 16px;
}

.footer-content {
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
}

.footer-logo {
    margin-bottom: 44px;
}

.footer-logo h1 {
    margin: 0;
    font-size: 20px;
    color: #333;
    max-width: none;
    min-width: 600px;
}
.footer-links {
    display: flex;
    gap: 50px;
    justify-content: flex-end;  
}

.footer-links-column {
    max-width: 250px;
}

.footer-links-column h3 {
    font-size: 16px;
    font-weight: 800;
    color: #333;
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    margin: 20px 0;
}

.footer-links ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-logo h1 {
        margin-bottom: 0;
        min-width: unset; 
    }

    .footer-links {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .footer-links-column {
        max-width: none;
        text-align: left;
        margin-bottom: 20px; 
    }
    .footer-logo p {
        margin-top: 10px;
        font-size: 18px;
        text-align: left;
        word-wrap: break-word;
    }

    .footer-bottom {
        margin-top: 20px;
        font-size: 12px;
        text-align: left;
    }
}
